*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.abt-wrap{
    margin-top: 10%;
    margin-bottom: 10%;
}
.abt-wrap h1{
    font-size: 35px;
}

.abt-wrap hr{
width: 120px;
margin: auto;
border: 2px solid #18237f;
}

.abt-parent{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 15%;
    gap: 30px;
    flex-wrap: wrap;
    
}
.abt-left img{
    border-radius: 10px;
    border-radius: 10px;
    width: 250px;
    height: 220px;

}

.abt-right p{
    font-size: 14px;
    color: #808080;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    line-height: 20px;
    
    
}
@media (max-Width:600px){
    .abt-parent{
        
        margin-top: 10%;
        
        
    }
    .abt-wrap{
        margin-top: 20%;
    }
    .abt-right p{
        font-size: 12px;
        text-align: start;
        align-items: center;
        padding:0 50px;
        line-height: 4.5vw;
    
        /* width: 250px; */
       
    }
    .abt-left{
        order: 2;

    }
    .abt-left img{
        width: 280px;
        height: 280px;
        margin-bottom: 20%;
    }
}